{% extends "base.html" %} 
{%loads static}

{% block title %}Detail{% endblock title %} 

{% block content %}


<br>
<div class="row">
     <div class="col-lg-8 col-md-10 mx-auto">
            <h1><u>{{destination.name}}</u></h1> <br>
             <div class="text-center">
 <p class="rounded"><img src="{{destination.pretty_picture.url}}" style="width:800px"></p>
 </div>

   
   <p class="text-center">{{destination.description}}</p><br>
   <h6><u>Activities</u></h6>

    <p>{{destination.activities}}</p><br>

 <h6><u>Optimal visiting season</u></h6><p>{{destination.optimal_visiting_season}}</p>

   
    
    <a href="{% url 'destination-update' destination.id %}">
        <br>
      
        <button type="button" class="btn btn-outline-dark btn-sm">Update</button>
    </a>
    <a href="{% url 'destination-delete' destination.id %}">
       

        <button type="button" class="btn btn-outline-dark btn-sm">Delete</button>
    </a>
    </div>

</div>
{% endblock content %}