{% extends "base.html" %}

{% block title %}List{% endblock title %}

{% block content %}
<br>
<div class="row">
    {% for destination in destinations %}
        <div class="col-sm-4">

            <a href="{% url 'destination-detail' destination.id %}">

                <div class="card" style="width: 18rem;">
                     <img class="card-img-top" src="{{destination.pretty_picture.url}}" alt="Card image cap">

                         <div class="card-body">
                            <h5 class="card-title">{{destination.name}}</h5>
                            <p class="card-text">{{destination.activities}}</p>
                         </div>
                </div>
            </a>
        </div>
        
{% endfor %}
</div>
{% endblock content %}




